doctype html
html
  head
    title= "Note Fiddle"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src="javascripts/third-party/jquery-3.1.1.min.js")
    script(type="text/javascript",src="javascripts/main.js")
  body
    block content
