extends layout

block content
  div(class="toast-area horizontal-center")
  textarea(class="editor", placeholder="Start typing ...",autofocus="autofocus") #{text}
  div(class="editor-layover")
    div(class="cssload-whirlpool")
  div(class="bottom-pane")
    button(class="save-button horizontal-center")